body{
    background-color: #212121;
    font-family: 'Poppins',sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga, sans-serif;
    font-size: 25px;
}

#navbarNavAltMarkup{
    font-family: Poppins, sans-serif;
}

.nav-link{
    color: white;
}

/*utility*/
.main-cta{
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 10px;
}

.main-cta p{
    background-color: #f4f4f4;
    color: #212121;
    width: fit-content;
    padding: 1em 1em;
    border-radius: 20px;
}

/* isi Konten */
#konten{
    display: flex;
}

#about-us{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 15px;
    font-weight: 1000;
    font-size: 45px;
    color: #f4f4f4;
}

.garis {
    margin-left: 10px;
    width: 14%;
}

.img-fluid{
    width: 80%;
    border-radius: 10px;
}

.sub-title{
    color: #f4f4f4;
}

.desc{
    color: #f4f4f4;
    text-align: justify;
}

.about{
    color: #f4f4f4;
    text-align: justify;
}

/*Kontak*/
#contact-me{
    margin-top: 200px;
    color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

.contact-box {
    width: 661px;
    background-color: #212121;
    top: 2426px;
    left: 160px;
}

.title{
    font-weight: 1000;
    font-size: 45px;
    margin-bottom: o;
}

.strip{
    margin-left: 10px;
    width: 7.5em;
}

form {
    margin: 10px 0;
}

.input-field {
    color: #212121;
    width: 658px;
    height: 45px;
    margin-top: 20px;
    padding: 1em 2em;
    border: 1px solid #777;
    border-radius: 16px;
    outline: none;
}

#message {
    height: 200px;
}

#submit {
    background: #141414;
    color: #f4f4f4;
    border: 0;
    height: 5%;
}


/* Jumbotron */
.jumbotron {
    background-image: url(asset/sorasak-_UIN-pFfJ7c-unsplash.jpg) ;
    background-size: cover;
    height: 650px;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: white; 
    text-align: left center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 250px;
    font-weight: 400;
    font-size: 40px;
}

/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link{
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
    }

    .nav-link::after{
        content: '';
        position: absolute;
        height: 3px;
        width: 0;
        left: 0;
        transition: 0.2s;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 2px solid #ffffff;
        width: 100%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -7px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 850px;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }
}

footer {
    background: #141414;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}

#copyright {
    color: white;
    
}

#github {
    margin-right: 20px;
}